[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "~=1.26"
pandas = "*"
plotly = "*"
gudhi = "*"
igraph = "*"

[dev-packages]
clustering-benchmarks = "*"
finch-clust = "*"
giotto-tda = "*"
kaleido = "*"

[requires]
python_version = "3.10"
